body {
        font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: column;
}


.logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
}

.etch-a-sketch {
        display: flex;
        align-items: center;
        justify-content: center;
}


.button-group {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
}

#gridContainer {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(16, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 500px;
        width: 500px;
}

.gridItems {
        background-color: #ddd;
        border: 1px solid #000;
}